@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  background: linear-gradient(to bottom right, #636FA4, #E8CBC0);
  color: white;
  font-family: 'Raleway', sans-serif;
}

